<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>404 - Web Site</title>
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="../static/css/errostyles.css" />
</head>
<body>

	<div class="wrapper">
		<header class="header">
			<h1 class="header-title">Trip Incomplete</h1>
		</header>

		<div class="content">
			<img src="../static/img/Scarecrow.png" class="image" alt="Image 404">
			<article class="info">
				<h2 class="info-title">I have bad news for you</h2>
				<p class="info-description">Trip cannot be completed as no charging station is available in the vicinity.</p>
				<a href="/" class="info-btn">Back to Homepage</a>
			</article>
		</div>	


		<footer class="footer">
		</footer>
	</div>
</body>
</html>